@model SalaryCalculator.Web.Models.SalaryViewModel
@{
    ViewData["Title"] = "USA";
}

<link href="~/css/usa.css" rel="stylesheet" type="text/css">
<link href="~/css/country.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="card border-0 shadow my-5" style="opacity:0.94">
        <div class="card-body p-5 amber-text">
            <h3>Calculate salary in USA</h3>
            <hr />
            <partial name="_CountryBodyPartial" />
        </div>
    </div>
</div>