@model IEnumerable<SalaryCalculator.Web.Models.SalaryViewModel>

<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Email</th>
                <th>GrossSalary</th>
                <th>NetSalary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salary in Model)
            {
                <tr>
                    <td>@salary.PersonEmail</td>
                    <td>@salary.GrossSalary</td>
                    <td>@salary.NetSalary</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("ExportToExcel", "Home")">Export Excel</a>
</div>

