@model SalaryCalculator.Web.Models.SalaryViewModel

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PersonEmail" class="control-label">Email:</label>
            <input asp-for="PersonEmail" id="personemail" class="form-control" />
            <span asp-validation-for="PersonEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GrossSalary" class="control-label">Salary:</label>
            <input asp-for="GrossSalary" id="salary" class="form-control" />
            <span asp-validation-for="GrossSalary" class="text-danger"></span>
        </div>
        <div id="div" style="display:none">
            <div class="form-group">
                <label asp-for="Tax" class="control-label">Tax:</label>
                <input asp-for="Tax" disabled id="tax" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NetSalary" class="control-label">Net Salary:</label>
                <input asp-for="NetSalary" id="netsalary" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <button id="btn" class="btn btn-primary">
                Convert to net salary
            </button>
            <a class="sp" href="javascript:history.go(-1)" title="Returns you back to the previous page.">Go back</a>
        </div>

    </div>
</div>


@*<script src="~/lib/jquery/dist/jquery.js"></script>*@

<script>
    function gettoken() {
    var token = '@Html.AntiForgeryToken()';
    token = $(token).val();
    return token;
}
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}