<link href="~/css/home.css" rel="stylesheet" type="text/css">

<h1 class="text-design">
    <i>Calculate easy your salary!</i>
</h1>
<br />
<br />
<h3 class="text-design-body">
    <i>
        Just select one of the following country
        <br />
    </i>
</h3>

<div class="pt tile_div">
    <a class="btn btn-dark space"  asp-controller="Country" asp-action="Index" asp-route-country="Germany">Germany</a>
    <a class="btn btn-dark space"  asp-controller="Country" asp-action="Index" asp-route-country="USA">USA</a>
    <a class="btn btn-dark space"  asp-controller="Country" asp-action="Index" asp-route-country="Bulgaria">Bulgaria</a>
    <div class="clear"></div>
</div>